<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      
      <ComponentRef Id="TestFile"/>
      
      
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\CoreWebApp\bin\$(var.Platform)\Debug\netcoreapp2.0\win-$(var.Platform)\publish\">
      
      <Component Id="TestFile" Guid="{0F90E1B4-34D9-4659-898D-B1BE3D1CC58D}">
        <File Id="FileTestFile" Name="api-ms-win-core-console-l1-1-0.dll" KeyPath="yes" ></File>
      </Component>
    </DirectoryRef>
    
    
    
  </Fragment>
</Wix>
